In [41]:
import json
import pandas as pd

datos=pd.read_json(open('nobel_winners.json'))
data=pd.DataFrame(datos)
data

,link,name,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
0,http://en.wikipedia.org/wiki/Anton_Zeilinger,Anton Zeilinger,2022,Physics,Austria,,"Anton Zeilinger , Physics, 2022",20 May 1945,,Ried im Innkreis,,male
1,http://en.wikipedia.org/wiki/John_Eccles_(neur...,John Carew Eccles,1963,Physiology or Medicine,Australia,,"John Carew Eccles , Physiology or Medicine, 1963",27 January 1903,2 May 1997,Melbourne,Tenero-Contra,male
2,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,2005,Physiology or Medicine,Australia,,"Barry Marshall , Physiology or Medicine, 2005",30 September 1951,,Kalgoorlie,,male
3,http://en.wikipedia.org/wiki/Elizabeth_Blackburn,Elizabeth Blackburn *,2009,Physiology or Medicine,,Australia,"Elizabeth Blackburn *, Physiology or Medicine,...",26 November 1948,,Hobart,,female
4,http://en.wikipedia.org/wiki/John_Cornforth,John Cornforth *,1975,Chemistry,,Australia,"John Cornforth *, Chemistry, 1975",7 September 1917,8 December 2013,Sydney,Brighton,male
...,...,...,...,...,...,...,...,...,...,...,...,...
1237,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Jacob,François Jacob,1965,Physiology or Medicine,France,,"François Jacob , Physiology or Medicine, 1965",17 June 1920,19 April 2013,Nancy,14th arrondissement of Paris,male
1238,http://en.wikipedia.org/wiki/Albert_Camus,Albert Camus *,1957,Literature,,Algeria,"Albert Camus *, Literature, 1957",7 November 1913,4 January 1960,Dréan,Villeblevin,male
1239,http://en.wikipedia.org/wiki/Konrad_Lorenz,Konrad Lorenz,1973,Physiology or Medicine,Austria,,"Konrad Lorenz , Physiology or Medicine, 1973",7 November 1903,27 February 1989,Vienna,Vienna,male
1240,http://en.wikipedia.org/wiki/Friedrich_Hayek,Friedrich Hayek,1974,Economics,Austria,,"Friedrich Hayek , Economics, 1974",8 May 1899,23 March 1992,Vienna,Freiburg im Breisgau,male
1241,http://en.wikipedia.org/wiki/Jules_A._Hoffmann,Jules A. Hoffmann *,2011,Physiology or Medicine,,Luxembourg,"Jules A. Hoffmann *, Physiology or Medicine, 2011",2 August 1941,,Echternach,,male

In [42]:
#1) Verificar que todas las entradas de texto estén codificadas en "unicode"
####Hacemos una recursion en el contenido del archivo
def verificar_unicode(datos):
    if isinstance(data, dict):
        for clave, valor in datos.items():
            if not isinstance(clave, str):
                print(f"Advertencia: La clave '{clave}' no es una cadena Unicode.")
            verificar_unicode(valor)
    elif isinstance(datos, list):
        for elemento in datos:
            verificar_unicode(elemento)
    elif isinstance(datos, str):
        if not isinstance(datos, str):
            print(f"Advertencia: El valor '{datos}' no es una cadena Unicode.")
    else:
        # No es una cadena, no necesita verificación
        pass
try:
    # Verificar que todas las entradas de texto estén en Unicode
    verificar_unicode(datos)
    print("Verificación completada. Todas las cadenas están en Unicode.")
except FileNotFoundError:
    print(f"Error: El archivo '{ruta_archivo}' no existe.")
except json.JSONDecodeError:
    print(f"Error: El archivo '{ruta_archivo}' no tiene un formato JSON válido.")
except Exception as e:
    print(f"Error inesperado: {e}")

Verificación completada. Todas las cadenas están en Unicode.

In [43]:
#2) Remplazar entradas vacías por NaN
import numpy as np
data.replace('', np.nan,inplace=True)

In [44]:
#3) Eliminar el asterisco que aparece en algunos nombres
data.name = data.name.str.replace('*', '')
data.name = data.name.str.strip()
data[data.name.str.contains('\*')]

Empty DataFrame
Columns: [link, name, year, category, country, born_in, text, date_of_birth, date_of_death, place_of_birth, place_of_death, gender]
Index: []

In [45]:
#4) Eliminar los individuos repetidos. (verificar que de veras sea duplicado ya que podría haber ganado 2 veces el nobel en distinto año)
data= data[data.born_in.isnull()]
data.count()
data= data.drop('born_in', axis=1)

In [46]:
all_dupes = data[data.duplicated('name')\
| data.duplicated('name', keep='last')]
all_dupes.count()

link              144
name              144
year              144
category          144
country           144
text              144
date_of_birth     142
date_of_death      78
place_of_birth    142
place_of_death     78
gender            144
dtype: int64

In [47]:
for name, rows in data.groupby('name'):
    print('name: %s, number of rows: %d'%(name, len(rows)))

name: 14th Dalai Lama, number of rows: 1
name: A. Michael Spence, number of rows: 1
name: Aage Bohr, number of rows: 1
name: Aaron Ciechanover, number of rows: 1
name: Aaron Klug, number of rows: 1
name: Abdulrazak Gurnah, number of rows: 1
name: Abdus Salam, number of rows: 1
name: Abhijit Banerjee, number of rows: 1
name: Abiy Ahmed Ali, number of rows: 1
name: Ada Yonath, number of rows: 1
name: Adam G. Riess, number of rows: 1
name: Adolf Butenandt, number of rows: 1
name: Adolf Otto Reinhold Windaus, number of rows: 1
name: Adolf von Baeyer, number of rows: 1
name: Adolfo Pérez Esquivel, number of rows: 1
name: Ahmed H. Zewail, number of rows: 1
name: Ahmed Zewail, number of rows: 1
name: Akira Suzuki, number of rows: 1
name: Akira Yoshino, number of rows: 1
name: Al Gore, number of rows: 1
name: Alain Aspect, number of rows: 1
name: Alan Heeger, number of rows: 1
name: Alan Lloyd Hodgkin, number of rows: 1
name: Alan MacDiarmid, number of rows: 2
name: Albert A. Michelson, number of rows: 1
name: Albert Camus, number of rows: 1
name: Albert Claude, number of rows: 1
name: Albert Einstein, number of rows: 2
name: Albert Fert, number of rows: 1
name: Albert Lutuli, number of rows: 2
name: Albert Schweitzer, number of rows: 1
name: Albert Szent-Györgyi, number of rows: 1
name: Albrecht Kossel, number of rows: 1
name: Aleksandr M. Prokhorov, number of rows: 1
name: Aleksandr Solzhenitsyn, number of rows: 1
name: Ales Bialiatski, number of rows: 1
name: Alexander Fleming, number of rows: 1
name: Alexander Prokhorov, number of rows: 1
name: Alexander R. Todd, number of rows: 1
name: Alexei Alexeyevich Abrikosov, number of rows: 1
name: Alexei Ekimov, number of rows: 2
name: Alexis Carrel, number of rows: 1
name: Alfonso García Robles, number of rows: 1
name: Alfred G. Gilman, number of rows: 1
name: Alfred Hermann Fried, number of rows: 1
name: Alfred Hershey, number of rows: 1
name: Alfred Kastler, number of rows: 1
name: Alfred Werner, number of rows: 1
name: Alice Munro, number of rows: 1
name: Allan M. Cormack, number of rows: 1
name: Allvar Gullstrand, number of rows: 1
name: Alva Myrdal, number of rows: 1
name: Alvin E. Roth, number of rows: 1
name: Amartya Sen, number of rows: 1
name: American Friends Service Committee  (The Quakers), number of rows: 1
name: Amnesty International, number of rows: 1
name: Anatole France, number of rows: 1
name: Andre Geim, number of rows: 1
name: Andrea Ghez, number of rows: 1
name: Andrei Sakharov, number of rows: 1
name: Andrew Huxley, number of rows: 1
name: Andrew Schally, number of rows: 1
name: Andrew Z. Fire, number of rows: 1
name: André F. Cournand, number of rows: 1
name: André Frédéric Cournand, number of rows: 1
name: André Gide, number of rows: 1
name: André Lwoff, number of rows: 1
name: Angus Deaton, number of rows: 2
name: Anne L'Huillier, number of rows: 2
name: Annie Ernaux, number of rows: 1
name: Anthony J. Leggett, number of rows: 1
name: Antoine Henri Becquerel, number of rows: 1
name: Anton Zeilinger, number of rows: 1
name: Antony Hewish, number of rows: 1
name: António Egas Moniz, number of rows: 1
name: Anwar Sadat, number of rows: 1
name: Archer John Porter Martin, number of rows: 1
name: Archibald Vivian Hill, number of rows: 1
name: Ardem Patapoutian, number of rows: 1
name: Arieh Warshel, number of rows: 2
name: Aristide Briand, number of rows: 1
name: Arne Tiselius, number of rows: 1
name: Arno Penzias, number of rows: 1
name: Arthur Ashkin, number of rows: 1
name: Arthur B. McDonald, number of rows: 1
name: Arthur H. Compton, number of rows: 1
name: Arthur Harden, number of rows: 1
name: Arthur Henderson, number of rows: 1
name: Arthur Kornberg, number of rows: 1
name: Arthur L. Schawlow, number of rows: 1
name: Artturi Ilmari Virtanen, number of rows: 1
name: Arvid Carlsson, number of rows: 1
name: August Krogh, number of rows: 1
name: Auguste Beernaert, number of rows: 1
name: Aung San Suu Kyi, number of rows: 1
name: Austen Chamberlain, number of rows: 1
name: Avram Hershko, number of rows: 1
name: Aziz Sancar, number of rows: 1
name: Barack H. Obama, number of rows: 1
name: Barbara McClintock, number of rows: 1
name: Barry Barish, number of rows: 1
name: Barry Marshall, number of rows: 1
name: Baruch S. Blumberg, number of rows: 1
name: Baruj Benacerraf, number of rows: 1
name: Ben Bernanke, number of rows: 1
name: Ben Feringa, number of rows: 1
name: Ben Roy Mottelson, number of rows: 1
name: Bengt I. Samuelsson, number of rows: 1
name: Bengt R. Holmström, number of rows: 1
name: Benjamin List, number of rows: 1
name: Bernard Katz, number of rows: 1
name: Bernardo Houssay, number of rows: 1
name: Bert Sakmann, number of rows: 1
name: Bertha von Suttner, number of rows: 1
name: Bertil Ohlin, number of rows: 1
name: Bertram Brockhouse, number of rows: 1
name: Bertrand Russell, number of rows: 1
name: Betty Williams, number of rows: 2
name: Bjørnstjerne Bjørnson, number of rows: 1
name: Bob Dylan, number of rows: 1
name: Boris Pasternak, number of rows: 1
name: Brian David Josephson, number of rows: 1
name: Brian K. Kobilka, number of rows: 1
name: Brian P. Schmidt, number of rows: 1
name: Brian Schmidt, number of rows: 1
name: Bruce Beutler, number of rows: 1
name: Bruce Merrifield, number of rows: 1
name: Burton Richter, number of rows: 1
name: C. V. Raman, number of rows: 1
name: Camillo Golgi, number of rows: 1
name: Camilo José Cela, number of rows: 1
name: Carl Anderson, number of rows: 1
name: Carl Bosch, number of rows: 1
name: Carl E. Wieman, number of rows: 1
name: Carl Ferdinand Cori, number of rows: 2
name: Carl Gustaf Verner von Heidenstam, number of rows: 1
name: Carl Spitteler, number of rows: 1
name: Carl von Ossietzky, number of rows: 1
name: Carlo Rubbia, number of rows: 1
name: Carlos Filipe Ximenes Belo, number of rows: 1
name: Carlos Saavedra Lamas, number of rows: 1
name: Carol W. Greider, number of rows: 1
name: Carolyn R. Bertozzi, number of rows: 1
name: Cecil Frank Powell, number of rows: 1
name: Centre for Civil Liberties, number of rows: 1
name: Charles Albert Gobat, number of rows: 1
name: Charles B. Huggins, number of rows: 1
name: Charles G. Dawes, number of rows: 1
name: Charles Glover Barkla, number of rows: 1
name: Charles H. Townes, number of rows: 1
name: Charles J. Pedersen, number of rows: 1
name: Charles K. Kao, number of rows: 2
name: Charles Louis Alphonse Laveran, number of rows: 1
name: Charles M. Rice, number of rows: 1
name: Charles Nicolle, number of rows: 1
name: Charles Richet, number of rows: 1
name: Charles Scott Sherrington, number of rows: 1
name: Charles Thomson Rees Wilson, number of rows: 1
name: Charles Édouard Guillaume, number of rows: 1
name: Chen Ning Yang, number of rows: 1
name: Christiaan Eijkman, number of rows: 1
name: Christian Anfinsen, number of rows: 1
name: Christian Lous Lange, number of rows: 1
name: Christian de Duve, number of rows: 1
name: Christiane Nüsslein-Volhard, number of rows: 1
name: Christopher A. Pissarides, number of rows: 1
name: Christopher A. Sims, number of rows: 1
name: Claude Cohen-Tannoudji, number of rows: 1
name: Claude Simon, number of rows: 1
name: Claudia Goldin, number of rows: 1
name: Clifford G. Shull, number of rows: 1
name: Clinton Davisson, number of rows: 1
name: Clive W. J. Granger, number of rows: 1
name: Cordell Hull, number of rows: 1
name: Corneille Heymans, number of rows: 1
name: Craig C. Mello, number of rows: 1
name: Cyril Norman Hinshelwood, number of rows: 1
name: Czesław Miłosz, number of rows: 1
name: César Milstein, number of rows: 1
name: Dag Hammarskjöld, number of rows: 1
name: Dale T. Mortensen, number of rows: 1
name: Dan Shechtman, number of rows: 1
name: Daniel Bovet, number of rows: 2
name: Daniel C. Tsui, number of rows: 1
name: Daniel Carleton Gajdusek, number of rows: 1
name: Daniel Kahneman, number of rows: 1
name: Daniel L. McFadden, number of rows: 1
name: Daniel Nathans, number of rows: 1
name: Dario Fo, number of rows: 1
name: Daron Acemoglu, number of rows: 1
name: David Baker, number of rows: 1
name: David Baltimore, number of rows: 1
name: David Card, number of rows: 2
name: David H. Hubel, number of rows: 1
name: David J. Gross, number of rows: 1
name: David J. Thouless, number of rows: 1
name: David J. Wineland, number of rows: 1
name: David Julius, number of rows: 1
name: David M. Lee, number of rows: 1
name: David MacMillan, number of rows: 2
name: David Trimble, number of rows: 2
name: Demis Hassabis, number of rows: 1
name: Denis Mukwege, number of rows: 1
name: Dennis Gabor, number of rows: 1
name: Derek Harold Richard Barton, number of rows: 1
name: Derek Walcott, number of rows: 1
name: Desmond Tutu, number of rows: 1
name: Dickinson W. Richards, number of rows: 1
name: Didier Queloz, number of rows: 1
name: Dmitry Muratov, number of rows: 1
name: Dominique Pire, number of rows: 1
name: Donald A. Glaser, number of rows: 1
name: Donald J. Cram, number of rows: 1
name: Donna Strickland, number of rows: 1
name: Doris Lessing, number of rows: 1
name: Dorothy Crowfoot Hodgkin, number of rows: 1
name: Douglas D. Osheroff, number of rows: 1
name: Douglas Diamond, number of rows: 1
name: Douglass C. North, number of rows: 1
name: Drew Weissman, number of rows: 1
name: Dudley R. Herschbach, number of rows: 1
name: Dénes Gábor, number of rows: 1
name: E. Donnall Thomas, number of rows: 1
name: E. M. Purcell, number of rows: 1
name: Earl W. Sutherland Jr., number of rows: 1
name: Edgar Adrian, number of rows: 1
name: Edmond H. Fischer, number of rows: 2
name: Edmund S. Phelps, number of rows: 1
name: Eduard Buchner, number of rows: 1
name: Edvard Moser, number of rows: 1
name: Edward A. Doisy, number of rows: 1
name: Edward B. Lewis, number of rows: 1
name: Edward C. Kendall, number of rows: 1
name: Edward C. Prescott, number of rows: 1
name: Edward Tatum, number of rows: 1
name: Edward Victor Appleton, number of rows: 1
name: Edwin G. Krebs, number of rows: 1
name: Edwin M. McMillan, number of rows: 1
name: Ei-ichi Negishi, number of rows: 2
name: Eisaku Satō, number of rows: 1
name: Elfriede Jelinek, number of rows: 1
name: Elias Canetti, number of rows: 1
name: Elias James Corey, number of rows: 1
name: Elie Wiesel, number of rows: 1
name: Elihu Root, number of rows: 1
name: Elinor Ostrom, number of rows: 1
name: Elizabeth Blackburn, number of rows: 1
name: Ellen Johnson Sirleaf, number of rows: 1
name: Emil Adolf von Behring, number of rows: 1
name: Emilio Segrè, number of rows: 1
name: Emily G. Balch, number of rows: 1
name: Emmanuelle Charpentier, number of rows: 1
name: Enrico Fermi, number of rows: 1
name: Eric A. Cornell, number of rows: 1
name: Eric Betzig, number of rows: 1
name: Eric F. Wieschaus, number of rows: 1
name: Eric Kandel, number of rows: 1
name: Eric S. Maskin, number of rows: 1
name: Erik Axel Karlfeldt, number of rows: 1
name: Ernest Hemingway, number of rows: 1
name: Ernest Lawrence, number of rows: 1
name: Ernest Rutherford, number of rows: 1
name: Ernest Walton, number of rows: 1
name: Ernesto Teodoro Moneta, number of rows: 1
name: Ernst Boris Chain, number of rows: 1
name: Ernst Otto Fischer, number of rows: 1
name: Ernst Ruska, number of rows: 1
name: Erwin Neher, number of rows: 1
name: Erwin Schrödinger, number of rows: 1
name: Esther Duflo, number of rows: 2
name: Eugene F. Fama, number of rows: 1
name: Eugene O'Neill, number of rows: 1
name: Eugene Wigner, number of rows: 1
name: Eugenio Montale, number of rows: 1
name: Eyvind Johnson, number of rows: 1
name: F. Duncan M. Haldane, number of rows: 2
name: F. Sherwood Rowland, number of rows: 1
name: F. W. de Klerk, number of rows: 1
name: Felix Bloch, number of rows: 2
name: Feodor Felix Konrad Lynen, number of rows: 1
name: Ferdinand Buisson, number of rows: 1
name: Ferenc Krausz, number of rows: 2
name: Ferid Murad, number of rows: 1
name: Finn E. Kydland, number of rows: 1
name: Frances Arnold, number of rows: 1
name: Francis Crick, number of rows: 1
name: Francis Peyton Rous, number of rows: 1
name: Francis William Aston, number of rows: 1
name: Franco Modigliani, number of rows: 1
name: Frank B. Kellogg, number of rows: 1
name: Frank Wilczek, number of rows: 1
name: Frans Eemil Sillanpää, number of rows: 1
name: François Englert, number of rows: 1
name: François Jacob, number of rows: 1
name: François Mauriac, number of rows: 1
name: Françoise Barré-Sinoussi, number of rows: 1
name: Fraser Stoddart, number of rows: 2
name: Frederick Banting, number of rows: 1
name: Frederick C. Robbins, number of rows: 1
name: Frederick Hopkins, number of rows: 1
name: Frederick Reines, number of rows: 1
name: Frederick Sanger, number of rows: 2
name: Frederick Soddy, number of rows: 1
name: Fredrik Bajer, number of rows: 1
name: Fridtjof Nansen, number of rows: 1
name: Friedrich Bergius, number of rows: 1
name: Friedrich Hayek, number of rows: 2
name: Friends Service Council, number of rows: 1
name: Frits Zernike, number of rows: 1
name: Fritz Albert Lipmann, number of rows: 1
name: Fritz Haber, number of rows: 1
name: Fritz Pregl, number of rows: 1
name: Frédéric Joliot-Curie, number of rows: 1
name: Frédéric Mistral, number of rows: 1
name: Frédéric Passy, number of rows: 1
name: Fülöp Lénárd, number of rows: 1
name: Gabriel García Márquez, number of rows: 1
name: Gabriel Lippmann, number of rows: 1
name: Gabriela Mistral, number of rows: 1
name: Gao Xingjian, number of rows: 1
name: Gary Ruvkun, number of rows: 1
name: Gary S. Becker, number of rows: 1
name: Geoffrey Hinton, number of rows: 2
name: Geoffrey Wilkinson, number of rows: 1
name: Georg Wittig, number of rows: 1
name: Georg von Békésy, number of rows: 1
name: George A. Akerlof, number of rows: 1
name: George Andrew Olah, number of rows: 1
name: George Beadle, number of rows: 1
name: George Bernard Shaw, number of rows: 1
name: George C. Marshall, number of rows: 1
name: George D. Snell, number of rows: 1
name: George E. Palade, number of rows: 1
name: George E. Smith, number of rows: 1
name: George F. Smoot, number of rows: 1
name: George H. Hitchings, number of rows: 1
name: George H. Whipple, number of rows: 1
name: George J. Stigler, number of rows: 1
name: George P. Smith, number of rows: 1
name: George Paget Thomson, number of rows: 1
name: George Porter, number of rows: 1
name: George R. Minot, number of rows: 1
name: George Wald, number of rows: 1
name: Georges Charpak, number of rows: 1
name: Gerald Edelman, number of rows: 1
name: Gerard 't Hooft, number of rows: 1
name: Gerd Binnig, number of rows: 1
name: Gerhard Domagk, number of rows: 1
name: Gerhard Ertl, number of rows: 1
name: Gerhard Herzberg, number of rows: 1
name: Gerhart Hauptmann, number of rows: 1
name: Gertrude B. Elion, number of rows: 1
name: Gerty Cori, number of rows: 2
name: Giorgio Parisi, number of rows: 1
name: Giorgos Seferis, number of rows: 1
name: Giosuè Carducci, number of rows: 1
name: Giulio Natta, number of rows: 1
name: Glenn Theodore Seaborg, number of rows: 1
name: Godfrey Hounsfield, number of rows: 1
name: Grazia Deledda, number of rows: 1
name: Greg Winter, number of rows: 1
name: Gregg L. Semenza, number of rows: 1
name: Guglielmo Marconi, number of rows: 1
name: Guido Imbens, number of rows: 2
name: Gunnar Myrdal, number of rows: 1
name: Gustaf Dalén, number of rows: 1
name: Gustav Ludwig Hertz, number of rows: 1
name: Gustav Stresemann, number of rows: 1
name: György András Oláh, number of rows: 1
name: György Békésy, number of rows: 1
name: György Hevesy, number of rows: 1
name: Gérard Debreu, number of rows: 2
name: Gérard Mourou, number of rows: 1
name: Günter Blobel, number of rows: 1
name: Günter Grass, number of rows: 1
name: H. David Politzer, number of rows: 1
name: H. Robert Horvitz, number of rows: 1
name: Haldan Keffer Hartline, number of rows: 1
name: Halldór Laxness, number of rows: 1
name: Hamilton O. Smith, number of rows: 1
name: Han Kang, number of rows: 1
name: Hannes Alfvén, number of rows: 1
name: Hans Adolf Krebs, number of rows: 1
name: Hans Bethe, number of rows: 1
name: Hans Fischer, number of rows: 1
name: Hans G. Dehmelt, number of rows: 1
name: Hans Spemann, number of rows: 1
name: Hans von Euler-Chelpin, number of rows: 1
name: Har Gobind Khorana, number of rows: 1
name: Harald zur Hausen, number of rows: 1
name: Harold C. Urey, number of rows: 1
name: Harold E. Varmus, number of rows: 1
name: Harold Kroto, number of rows: 1
name: Harold Pinter, number of rows: 1
name: Harry M. Markowitz, number of rows: 1
name: Harry Martinson, number of rows: 1
name: Hartmut Michel, number of rows: 1
name: Harvey J. Alter, number of rows: 1
name: Heike Kamerlingh Onnes, number of rows: 1
name: Heinrich Böll, number of rows: 1
name: Heinrich Otto Wieland, number of rows: 1
name: Heinrich Rohrer, number of rows: 1
name: Hendrik Lorentz, number of rows: 1
name: Henri Bergson, number of rows: 1
name: Henri La Fontaine, number of rows: 1
name: Henri Moissan, number of rows: 1
name: Henrik Dam, number of rows: 1
name: Henrik Pontoppidan, number of rows: 1
name: Henry Dunant, number of rows: 2
name: Henry Hallett Dale, number of rows: 1
name: Henry Kissinger, number of rows: 1
name: Henry Taube, number of rows: 1
name: Henry W. Kendall, number of rows: 1
name: Henryk Sienkiewicz, number of rows: 1
name: Herbert A. Hauptman, number of rows: 1
name: Herbert A. Simon, number of rows: 1
name: Herbert C. Brown, number of rows: 1
name: Herbert Kroemer, number of rows: 1
name: Herbert S. Gasser, number of rows: 1
name: Hermann Emil Fischer, number of rows: 1
name: Hermann Hesse, number of rows: 1
name: Hermann J. Muller, number of rows: 1
name: Hermann Staudinger, number of rows: 1
name: Herta Müller, number of rows: 1
name: Hideki Shirakawa, number of rows: 1
name: Hideki Yukawa, number of rows: 1
name: Hiroshi Amano, number of rows: 1
name: Hjalmar Branting, number of rows: 1
name: Horst L. Störmer, number of rows: 1
name: Horst Ludwig Störmer, number of rows: 1
name: Howard Florey, number of rows: 1
name: Howard Martin Temin, number of rows: 1
name: Hugo Theorell, number of rows: 1
name: Igor Tamm, number of rows: 1
name: Ilya Ilyich Mechnikov, number of rows: 1
name: Ilya Mikhailovich Frank, number of rows: 1
name: Ilya Prigogine, number of rows: 1
name: Imre Kertész, number of rows: 1
name: Institut de Droit International, number of rows: 1
name: Irving Langmuir, number of rows: 1
name: Irwin Rose, number of rows: 1
name: Irène Joliot-Curie, number of rows: 1
name: Isaac Bashevis Singer, number of rows: 1
name: Isamu Akasaki, number of rows: 1
name: Isidor Isaac Rabi, number of rows: 1
name: Isidor Rabi, number of rows: 1
name: Ivan Bunin, number of rows: 1
name: Ivan Pavlov, number of rows: 1
name: Ivar Giaever, number of rows: 2
name: Ivo Andric, number of rows: 1
name: Ivo Andrić, number of rows: 1
name: J. Georg Bednorz, number of rows: 1
name: J. Hans D. Jensen, number of rows: 1
name: J. J. Thomson, number of rows: 1
name: J. M. Coetzee, number of rows: 1
name: J. M. G. Le Clézio, number of rows: 1
name: J. Michael Bishop, number of rows: 1
name: J. Robin Warren, number of rows: 1
name: Jacinto Benavente, number of rows: 1
name: Jack Kilby, number of rows: 1
name: Jack Steinberger, number of rows: 1
name: Jack W. Szostak, number of rows: 3
name: Jacobus Henricus van 't Hoff, number of rows: 1
name: Jacques Dubochet, number of rows: 1
name: Jacques Monod, number of rows: 1
name: James A. Mirrlees, number of rows: 1
name: James A. Robinson, number of rows: 2
name: James Allison, number of rows: 1
name: James B. Sumner, number of rows: 1
name: James Chadwick, number of rows: 1
name: James Cronin, number of rows: 1
name: James D. Watson, number of rows: 1
name: James Franck, number of rows: 1
name: James J. Heckman, number of rows: 1
name: James M. Buchanan, number of rows: 1
name: James Meade, number of rows: 1
name: James Rainwater, number of rows: 1
name: James Rothman, number of rows: 1
name: James Tobin, number of rows: 1

In [48]:
#Crea una lista de Python filtrando los grupos de filas de nombres para aquellos con más de una fila (es decir, nombres duplicados).
pd.concat([g for _,g in data.groupby('name')\
if len(g) > 1])['name']

284           Alan MacDiarmid
762           Alan MacDiarmid
608           Albert Einstein
944           Albert Einstein
9               Albert Lutuli
                ...
874       William C. Campbell
215       William Henry Bragg
444       William Henry Bragg
36     William Lawrence Bragg
448    William Lawrence Bragg
Name: name, Length: 144, dtype: object

In [49]:
def clean_data(data):
    data.drop(data[data.year == 1809].index, inplace=True)
    data = data[~(data.name == 'Marie Curie')]
    data.loc[(df.name == u'Marie Sk\u0142odowska-Curie') &\
    (data.year == 1911), 'country'] = 'France'
    data = data[~((data.name == 'Sidney Altman') &\
    (data.year == 1990))]
    return data

data = data.reindex(np.random.permutation(data.index))
data= data.drop_duplicates(['name', 'year'])
data = data.sort_index()
data.count()

link              1007
name              1007
year              1007
category          1006
country           1007
text              1007
date_of_birth      994
date_of_death      694
place_of_birth     996
place_of_death     692
gender             997
dtype: int64

In [50]:
#5) Ordenar por nombre, country,  year
data[data.duplicated('name') |
data.duplicated('name', keep='last')]\
.sort_values(by='name')\
[['name', 'country', 'year', 'category']]

                        name         country  year                category
484         Frederick Sanger  United Kingdom  1958               Chemistry
522         Frederick Sanger  United Kingdom  1980               Chemistry
82              John Bardeen   United States  1956                 Physics
132             John Bardeen   United States  1972                 Physics
288       K. Barry Sharpless   United States  2001               Chemistry
420       K. Barry Sharpless   United States  2022               Chemistry
77          Linus C. Pauling   United States  1954               Chemistry
98          Linus C. Pauling   United States  1962                   Peace
1036             Marie Curie          France  1903                 Physics
1041             Marie Curie          France  1911               Chemistry
717   Marie Skłodowska-Curie          Poland  1903                 Physics
735   Marie Skłodowska-Curie          Poland  1911               Chemistry
639            Ragnar Granit          Sweden  1967  Physiology or Medicine
1115           Ragnar Granit         Finland  1809  Physiology or Medicine

In [51]:
data.count()

link              1007
name              1007
year              1007
category          1006
country           1007
text              1007
date_of_birth      994
date_of_death      694
place_of_birth     996
place_of_death     692
gender             997
dtype: int64

In [52]:
#6) Rellenar la categoría faltante
###El unico registro faltante(en categoria) es de isidor Rabbi que es de fisica 
data[data.category.isnull()]
data.category.replace(np.nan, 'Physics', inplace=True)

#7) Rellenar el género de los registros faltantes
data= data[data.gender.notnull()]

/var/folders/xb/7_dt32bd2yl0621fnjnfh7f80000gn/T/ipykernel_55547/944011388.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.category.replace(np.nan, 'Physics', inplace=True)

In [53]:
data[data.date_of_birth.isnull()]['name']

344    Venkatraman Ramakrishnan
433              John M. Jumper
571            Michael Houghton
Name: name, dtype: object

In [54]:
data.loc[data.name == 'John M. Jumper', 'date_of_birth'] =\
'1985'
data.loc[data.name == 'Venkatraman Ramakrishnan', 'date_of_birth'] =\
'1 april 1952'
data.loc[data.name == 'Michael Houghton', 'date_of_birth'] =\
'1949'
data.loc[data.name == 'Michael Houghton', 'place_of_birth'] =\
'Chelmsford, Reino Unido'

In [55]:
data.count()

link              997
name              997
year              997
category          997
country           997
text              997
date_of_birth     997
date_of_death     694
place_of_birth    996
place_of_death    692
gender            997
dtype: int64

In [56]:
#8) Convertir los registros de fecha de nacimiento y fecha de muerte en NumPy datetime64
for i,row in data.iterrows():
    try:
        pd.to_datetime(row.date_of_death, errors='raise')
    except:
        print('%s(%s, %d)'%(row.date_of_death.ljust(30),\
            row['name'], i))


data.date_of_death = pd.to_datetime(data.date_of_death,\
errors='coerce')
data['award_age'] = data.year - pd.DatetimeIndex(data.date_of_birth)\
.year
data[['date_of_birth', 'date_of_death']]

          date_of_birth date_of_death
0           20 May 1945           NaT
1       27 January 1903    1997-05-02
2     30 September 1951           NaT
5       7 February 1979           NaT
7          11 July 1916    2002-01-08
...                 ...           ...
1233    6 November 1932           NaT
1235    11 January 1954           NaT
1236      10 April 1887    1971-09-21
1237       17 June 1920    2013-04-19
1239    7 November 1903    1989-02-27

[997 rows x 2 columns]

In [57]:
#9) Eliminar premios que no fueron dados a personas
#####ya han sido borrados

Empty DataFrame
Columns: [link, name, year, category, country, text, date_of_birth, date_of_death, place_of_birth, place_of_death, gender, award_age]
Index: []